* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
}
.table button { 
	text-transform: uppercase;
	cursor: pointer;
	padding: 3px 10px;
	transition: color 0.4s;
}
.table button:hover {
	color: black;
}

.table .arrow{
    width: 100%;
}
.table select{
   width: 100%;
}
.table select, option{
   text-align: center;
   
}
.active{
	background : gold;	
	
}


